{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Oferta
{% endblock %}

{% block content %}

    <p>
        Se estima que el valor del artículo es {{ player.item_value_estimate }}.
        Esta estimación puede desviarse del valor real por un máximo de {{ Constants.estimate_error_margin }}.
    </p>

    <p>
        Por favor haz tu oferta ahora. El monto puede estar desde {{ Constants.min_allowable_bid }} hasta {{ Constants.max_allowable_bid }}, incluido.
    </p>

    {% formfield player.bid_amount label="Bid amount" %}

    {% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}
