{% load otree %}

<div class="card bg-light instructions">
<div class="card-body">
    <h3>
        Instrucciones
    </h3>
    <p>
        Has sido agrupado aleatoria y anónimamente con otros jugadores.
        Todos los jugadores ven estas mismas instrucciones.
    </p>

    <p>
        Su tarea será ofertar por un artículo que se está subastando.
        Antes de ofertar, cada jugador recibirá una estimación del valor real 
        del artículo. Las estimaciones pueden ser diferentes entre jugadores.
        El valor real del artículo, que es común a todos los jugadores, 
        se revelará después de que se haya realizado la oferta.
    </p>

    <p>
        Según el valor estimado, cada jugador presentará una oferta única
        dentro de un rango dado.
        Todas las ofertas son privadas y se presentan al mismo tiempo.
    </p>

    <p>
        El mejor postor recibirá como pago el valor real del artículo  
        menos su propio monto de oferta.
        Si el monto de la oferta del ganador es mayor que el valor real del artículo,
        el pago será cero.
        En caso de empate entre dos o más jugadores, el ganador será 
        elegido al azar. Los otros jugadores no recibirán nada.
    </p>
</div>
</div>
