{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instrucciones
    </h3>

    <p>
        Usted va a ser emparejado de forma aleatoria y anónimamente con 
        otros {{ Constants.num_other_players }}
        participantes.
    </p>
    <p>
        Cada uno de ustedes decide independentemente y simultáneamente si desean ser 
        voluntarios o no. Si al menos uno de ustedes es voluntario, todos obtendrán
        {{ Constants.general_benefit }}. Sin embargo, el(los) voluntario(s) lo hará pagar
        {{ Constants.volunteer_cost }}. Si ninguno es voluntario, nadie recibe nada. 
     
    </p>
    </div>
</div>