{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">
    <h3>
        Instrucciones
    </h3>

    <p>
        En este estudio, usted será asignado en un grupo aleatorio de {{ Constants.players_per_group }}
        participantes. A cada uno de los participantes en el grupo se le entregará
        {{ Constants.endowment }}. El grupo tiene la oportunidad de 
        emprender un proyecto conjuntamente. Cada participante decide la cantidad que el o ella
        contribuirá en el proyecto. Las contribuciones puede ser cualquier entero desde 0 a {{ Constants.endowment }}.
    </p>
    <p>
        Las ganancias del proyecto son calculadas de la siguiente manera: Las 
        contribuciones de cada uno de los {{ Constants.players_per_group }} participantes son
        sumadas, esta contribución total
        es multiplicada por un factor de {{ Constants.multiplier }}, y la 
        cantidad resultante es la ganancia total del proyecto, que se divide 
        equitativamente entre los {{ Constants.players_per_group }}
        participantes. Su pago es igual a sus ganancias del proyecto, más
         la cantidad que no contribuyó.
    </p>
    </div>
</div>

