{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Gracias
{% endblock %}

{% block content %}

    <p>
        <em>A continuación se muestran ejemplos de mensajes  que podrían mostrarse para diferentes configuraciones experimentales.</em>
    </p>

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Laboratory:</strong></p>
            <p>Por favor manténgase sentado hasta que su número sea llamado. Luego tome su tarjeta de número y vaya al cajero.</p>
            <p><em>Nota: Para el cajero en el laboratorio, oTree puede imprimir una lista de los pagos para todos los participantes como un PDF.</em></p>
        </div>
    </div>

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Clase:</strong></p>
            <p><em>
                Si desea realizar un seguimiento de cómo lo hicieron los estudiantes, lo más fácil es asignar los enlaces iniciales a los estudiantes por su nombre.
                Incluso es posible dar a cada estudiante un enlace único y permanente durante un semestre completo usando Rooms;
                de esta manera no es necesario gastar tiempo en cada lectura con la entrega de nuevos enlaces y el seguimiento de qué estudiante usa qué enlace.  
                Alternativamente,  solo puede mandar 
                enlaces anónimos de estudiantes o apodos secretos.</em>
            </p>
        </div>
    </div>


{% endblock %}

