{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Resultados para todas las rondas{% endblock title %}

{% block content %}
    <p>
        Usted ha finalizado todos los {{ Constants.num_rounds }} periodos. Las compras realizadas para 
        todos los periodos, se encuentran resumidas a continuación:
    </p>

    {% include 'lemon_market/HighChart.html' %}

    <p>
        Usted es <strong>{{ player.role }}</strong>.
    </p>

    {% next_button %}

{% endblock %}
