{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instrucciones
    </h3>

    <p>
        En este estudio, usted será agrupado de forma aleatoria y anínoma con 
        otros 2 participantes. Uno de ustedes, será asignado aleatoriamente para ser el comprador
        y los otros dos restantes serán los vendedores. Los vendedores y compradores pueden negociar por 
        {{ Constants.num_rounds }} periodos. Antes de tomar cualquier decisión, usted aprenderá su función, 
        misma que se mantendrá durante todos los periodos.
    </p>
    <p>
        Al inicio de cada periodo, cada uno de ustedes recibirá {{ Constants.initial_endowment }}.
        Los vendedores comenzarán eligiendo en privado un <strong>precio</strong>
        (de 0 a {{ Constants.initial_endowment }}) y un  <strong>grado de calidad</strong> para sus productos.
        Luego el comprador tendrá la oportunidad de comprar a uno de los vendedores
        al precio listado. Antes de la compra, el comprador no observará los grados de calidad. 
        Después de la compra, el precio y los grados de calidad del producto comprado, se revelará 
        para todos. El grado de calidad puede ser <strong>alto, medio o bajo
        </strong> un grado más alto, implica un costo mayor para producirlo, por ende, le cuesta más al comprador. 
        La tabla a continuación muestra el costo de producción a los vendedores y 
        los valores a los compradores para los diferentes grados de calidad:
    </p>
    <table class=table>
        <thead>
        <tr>
            <th>Grado de calidad</th>
            <th>Alto</th>
            <th>Medio</th>
            <th>Bajo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Costo de producción para los vendedores</th>
            <td>30</td>
            <td>20</td>
            <td>10</td>
        </tr>
        <tr>
            <th>Valor para los compradores</th>
            <td>35</td>
            <td>25</td>
            <td>15</td>
        </tr>
        </tbody>
    </table>
    <p>
        El comprador puede comprar  hasta una unidad del producto durante un periodo
        y cada vendedor puede producir hasta una unidad en un periodo. <strong>Las unidades no vendidas
        no se producen y, por lo tanto, no tienen costo.</strong>
    </p>
    <p>
        El periodo de pago para el comprador es:<br/>
        <strong>
            
        Periodo de pago del comprador = {{ Constants.initial_endowment }} + valor del grado de calidad comprado  -
            precio del vendedor
        </strong></p>
    <p>
        El periodo de pago del vendedor es:<br/>
        <strong>
            Periodo de pago del vendedor = {{ Constants.initial_endowment }} + precio del vendedor - costo del grado de calidad producido
            
        </strong></p>
</div>
</div>