{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Producción (Periodo {{ subsession.round_number }} de {{ Constants.num_rounds }})
{% endblock %}

{% block content %}

    <p>Usted es {{ player.role }}</p>

    {% formfield player.seller_proposed_quality label='¿Qué grado de calidad usted desea producir?' %}
    {% formfield player.seller_proposed_price label='¿A qué precio usted desea venderlo?' %}

    {% next_button %}
    {% include Constants.instructions_template %}

{% endblock %}
