{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Compra (Periodo {{ subsession.round_number }} de {{ Constants.num_rounds }})
{% endblock %}

{% block content %}
<p>Usted es el comprador.</p>
<p>
    <strong>A continuación se encuentra enlistado los precios propuestos por los vendedores:</strong><br/>
    {% for p in group.get_players %}
    {% if 'seller' in p.role %}
    <i>Precio de {{p.role}}: {{p.seller_proposed_price}}</i><br/>
    {% endif %}
    {% endfor %}
</p>

{% formfield group.seller_id label="Please make a purchase decision:" %}

{% next_button %}

{% include Constants.instructions_template %}

{% endblock %}
