{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Tarea de transcripción {{ subsession.round_number }}/{{ Constants.num_rounds }}
{% endblock %}

{% block content %}

    <p>
        Transcriba (copie) el texto a continuación en el campo de entrada.
        Sea exacto y asegúrese de obtener todos los caracteres y espacios correctos.
    </p>


    <img src="{% static image_path %}"/>
    <br><br>


    {% formfield player.transcribed_text label="" %}

    {% next_button %}

    {% if debug %}
        <div class="card border-warning">
            <div class="card-body">
            <h4>Explicación para investigadores (se muestra solo en modo de depuración) </h4>
            <p>
                Usted está participando en modo de depuración, así que usted puede omitir el manual de 
                transcripción
                haciendo click <a href="#" id="prefill">en este link</a>
                y haciendo click en "siguiente".
            </p>

            <p>
                Un sujeto solo puede avanzar a la siguiente pantalla si la 
                transcripción es {{ required_accuracy }}% precisa
            </p>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var referenceText = {{ reference_text|json }};
        $('#prefill').click(function () {
            $('#id_transcribed_text').val(referenceText);
        })
    });
</script>
{% endblock %}
