{% load otree %}

<div class="card bg-light instructions">

    <div class="card-body">
        <h3>
            Instrucciones
        </h3>

        <p>
            Ha sido emparejado aleatoria y anónimamente con otro participante.
            Hay {{ Constants.amount_shared }} para dividirse.
            Ambos deben exigir una parte de forma simultánea e independiente
            de los {{ Constants.amount_shared }} para ustedes. Si la suma de sus
            demandas son menores o iguales a {{ Constants.amount_shared }}, ambos
            obtendrán lo que demandan. Si la suma de sus demandas es mayor 
            a {{ Constants.amount_shared }},
            ambos no recibirán nada.
        </p>
    </div>
</div>
