{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instrucciones 
    </h3>
    <p>
        Has sido aleatoria y anonimamente emparejado con otro participante.
        Uno de ustedes será seleccionado aleatoriamente para ser el participante A;
        el otro será el participante B.
    
        Usted deducirá si es el particpante A o B previo a tomar alguna decisión.
    </p>
    <p>
        Para comenzar, el participante A recibe {{ Constants.endowment }};
        el participante B no recibe nada. 
       
        El participante A puede enviar algo o todo de su {{ Constants.endowment }} al participante B. 
        Antes de que el participante B reciba su cantidad, podrá multiplicarla por  {{ Constants.multiplier }}.

        Una vez que el participante B reciba la cantidad triplicada podrá decidir si envia una parte o todo al participante A.
    </p>
</div>
</div>
