{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Su decisión
{% endblock %}

{% block content %}
<p>
    Usted es el participante B.
    El participante A le envia {{group.sent_amount}} y usted recibe {{tripled_amount}}.
    Ahora usted tiene {{tripled_amount}}.
    Cuál será la cantidad que le enviará al particpante A?
</p>

    {% formfield group.sent_back_amount label=prompt %}
    <p>{% next_button %}</p>
    {% include Constants.instructions_template %}

{% endblock %}
