{% load otree %}

<div class="card bg-light instructions">
<div class="card-body">
    <h3>
        Instrucciones
    </h3>

    <p>
        Usted va a ser emparejado aleatoria y anónimamente con otro participante.
        En este estudio, uno de ustedes sera el Participante 1 y el otro
        Participante 2. Antes de tomar una decisión, aprenderá su rol,
        que se asignará aleatoriamente.
    </p>
    <p>
        Hay {{ Constants.endowment }} para dividir. El Participante 1 decidirá
        cuánto retendrá. Luego el resto irá al Participante 2.
    </p>
</div>
</div>
