{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instrucciones
    </h3>

    <p>
        Usted ha sido emparejado de forma aleatoria y anónimamente con otros 2 
        participantes en una subasta. Cada uno de ustedes recibe {{ Constants.endowment }} para comenzar.
    </p>
    <p>
        Antes de realizar una oferta, va a conocer el valor del objeto para usted.
        EL valor de los objetos difiere entre participantes, es asignado de forma aleatoria e independiente
        con valores de 0 a {{ Constants.endowment }} para cada participante.
    </p>
    <p>
        
        A continuación, presentará una oferta privada para el objeto.
        Usted puede ofertar de 0 a  {{ Constants.endowment }}.
        El participante con la oferta más alta gana el objeto and paga la cantidad de la segunda oferta más alta.
        Si existe un empate, el ganador será escogido de forma aleatoria y deberá pagar 
        la oferta más alta distinta a la suya. 
  
    </p>
    <p>
        EL pago del ganador es calculado de la siguiente manera:<br/>
        <strong>
            Pago del ganador = {{ Constants.endowment }} + Valor privado del objeto para el ganador - Segunda oferta más alta
        </strong><br/>
        Los pagos de los otros participantes, es el inicial {{ Constants.endowment }}.
    </p>
    <p>
        Para su conveniencia, las instrucciones permanecerán disponibles para usted en todas las pantallas posteriores de este estudio.
    </p>
    </div>
</div>
