{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instrucciones
    </h3>

    <p>
        Usted ha sido emparejado aleatoriamente y anónimamente con otro participante. 
        Cada uno de ustedes representará a una firma. Ambas firmas fabrican el mismo producto.
    </p>

    <p>
        Los dos de ustedes deciden simultaneamente e independientemente cuantas unidades van a fabricar.
        Sus elecciones pueden ser cualquier número desde 0 a {{ Constants.max_units_per_player }}.
        Todas las unidades producidas van a ser vendidas, pero cuanto más se produce, menor será el precio unitario de venta.  
 
    </p>


    <p>
        El precio unitario de venta es:  
    </p>

    <ul>
        <strong>Unit selling price = {{ Constants.total_capacity }} – Units produced by your firm – Units produced by the other firm</strong>
    </ul>

    <p>
        Por lo tanto su ingreso es: 
    </p>

    <ul>
        <strong>Your profit = Unit selling price × Units produced by your firm</strong>
    </ul>

    <p>
        Para su conveniencia, estas instrucciones permanecerán disponibles para usted en todas las pantallas posteriores de este estudio. 
    </p>

</div>
</div>
