{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Tu suposición
{% endblock %}

{% block content %}

    {% if player.round_number > 1 %}
        <p>
            Aquí estan los valores promedio de dos tercios en rondas anteriores:
            {{ group.two_thirds_avg_history }}
        </p>
    {% endif %}

    {% formfield player.guess label="Por favor elija un número del 0 al 100:" %}
    {% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}
