{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Round {{ subsession.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}

    <h4>Instrucciones</h4>
    <p>
        Este es un juego de emparejar monedas.
        Jugador  1 será el 'Desemparejador' y gana si las elecciones difieren.
        Jugador  2 será el 'Emparejador' y gana si las elecciones coinciden.

    </p>

    <p>
        Al final, se elegirá una ronda aleatoria para el pago.
    </p>

    <p>

    <h4>Historial de rondas</h4>
    <table class="table">
        <tr>
            <th>Ronda</th>
            <th>Player and outcome</th>
        </tr>
        {% for p in player_in_previous_rounds %}
            <tr>
                <td>{{ p.round_number }}</td>
                <td>Usted fue el {{ p.role }} y {% if p.is_winner %} ganó {% else %} perdió {% endif %}</td>
            </tr>
        {% endfor %}
    </table>

    <p>
        En esta ronda, usted sera el {{ player.role }}.
    </p>

    {% formfield player.penny_side label="I choose:" %}

    {% next_button %}

{% endblock %}
