{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Resultados finales
{% endblock %}

{% block content %}

    <table class="table">
        <tr>
            <th>Round</th>
            <th>Jugador y resultado</th>
        </tr>
        {% for p in player_in_all_rounds %}
            <tr>
                <td>{{ p.round_number }}</td>
                <td>Usted fue el {{ p.role }} y {% if p.is_winner %} ganó {% else %} perdió {% endif %}</td>
            </tr>
        {% endfor %}
    </table>

    <p>
        La ronda de pago fue la {{ paying_round }}.
        Por lo tanto su pago total es {{ total_payoff }}. 
    </p>


{% endblock %}
