{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instrucciones
    </h3>
    <p>
        Este es un juego de confianza con dos participantes.
    </p>
    <p>
        Para comenzar, el particpante A {{ Constants.endowment }};
        el participante B no recibe nada.
        El participante A puede enviar algo o nada de su {{ Constants.endowment }} al participante B.
        Antes de que el participante B reciba su cantidad esta será triplicada.
        Una vez de que el participante B reciba su cantidad triplicada este puede decidir enviarle al participante A una parte o todo.
    </p>
    </div>
</div>
