{% extends "otree/MTurkPreview.html" %}
{% load otree %}

{% block title %}Por favor leer esto antes de dar click en "Acceptar"{% endblock %}

{% block content %}
    <p>
        Este HIT es un experimento académico sobre la toma de decisiones.
    </p>

    <p>
        
        Se requerirá que usted interactúe con otros trabajadores en tiempo real. 
        Algunos participantes pueden estar esperando hasta que usted haya completado una tarea determinada,
        antes de que puedan proceder.
        Por lo tanto, tenga en cuenta a los otros participantes y complete todas las tareas de manera oportuna.
        Por facor solo acepte este HIT solo si usted puede comprometerse a completarlo. 
    </p>

    <p>
        Después de completar este HIT, usted recibirá una recompensa más un pago de bonificación
        que está basado en cómo usted participa en el experimento. 
    </p>
{% endblock %}
