{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Su rol y decisión
{% endblock %}

{% block content %}

    <p>
        Usted es el <strong>responderor</strong>.
    </p>

    <p>
        El proponente le hará una oferta sobre cómo dividir 
        el {{ Constants.endowment }}.
    </p>

    <p>
        Elija a continuación cómo respondería a cada una de las posibles
        ofertas.
    </p>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}
    {% include Constants.instructions_template %}

{% endblock %}

