{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
        Su rol y decisión
{% endblock %}

{% block content %}

    <p>
        Usted es <strong>responder</strong>.
    </p>

    <p>
        El otro participante le ha ofrecido {{ group.amount_offered }}.
    </p>

    <p><b>¿Desea aceptar la oferta?</b></p>
    <div>
        <button name="offer_accepted" value="True" class="btn btn-primary btn-large">
            Sí
        </button>
        <button name="offer_accepted" value="False" class="btn btn-primary btn-large">
            No
        </button>
    </div>

    {% include Constants.instructions_template %}

{% endblock %}
