{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
        Su rol y decisión 
{% endblock %}

{% block content %}
    <p>
            Usted es el <strong>que propone</strong>.
    </p>

    <p>
            Ustedes dos han recibido{{ Constants.endowment }}. Ingrese la cantidad que usted quiere ofrecerle al que decide sobre la propuesta.
    </p>

    {% formfield group.amount_offered label="¿Cuánto le gustaría ofrecer?" %}

    {% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}
