{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instrucciones
    </h3>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <p>
        En este estudio, usted será emparejado aleatoria y anónimamente con otro
        participante.
        Cada uno de ustedes elige de forma simultánea y privada si quiere
        cooperar o desertar.
        Sus pagos estarán determinados por las opciones de ambos, como se muestra a continuación:
    </p>
    <p><i>En cada celda, el monto de la izquierda es la recompensa para
        usted y el de la derecha para el otro participante.</i></p>

    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>El Otro Participante</th>
        </tr>
        <tr>
            <th>Cooperar</th>
            <th>Desertar</th>
        </tr>
        <tr>
            <th rowspan=2><span class="rotate90">Usted</span></th>
            <th>Cooperar</th>
            <td>{{ Constants.both_cooperate_payoff }}, {{ Constants.both_cooperate_payoff }}</td>
            <td>0, {{ Constants.betray_payoff }}</td>
        </tr>
        <tr>
            <th>Desertar</th>
            <td>{{ Constants.betray_payoff }}, 0</td>
            <td>{{ Constants.both_defect_payoff }}, {{ Constants.both_defect_payoff }}</td>
        </tr>
    </table>

</div>
</div>
