{% load otree %}

<div class="card bg-light instructions">
    <div class="card-body">

    <h3>
        Instrucciones
    </h3>

    <p>
        Usted ha sido emparejado de forma aleatoria y anónimamente con otro participante.
        Ahora por favor imagine el siguiente escenario. 
    </p>
    <p>
        Usted y otro viajero (el otro participante) acaban de regresar de una isla 
        remota donde los dos compraron las mismas antigüedades.
        Desafortunadamente, usted descubre que su aerolínea ha destruido sus 
        antigüedades, como siempre lo hacen. El gerente de la aerolínea le asegura una 
        compensación adecuada. Sin saber el valor real de sus antigüedades, él le ofrece 
        el siguiente esquema. Ambos de forma simultánea e independientemente deben hacer 
        un reclamo por el valor de su antigüedades (ranging
        desde {{ Constants.min_amount }} a {{ Constants.max_amount }}):
    </p>
    <ul>
        <li>
            Si ambos reclaman la misma cantidad, entonces esta cantidad será pagada a ambos.
        </li>
        <li>
            Si reclaman cantidades diferentes, entonces la cantidad menor será pagada a ambos.
            Adicionalmente, el que tenga un reclamo menor recibirá una recompensa de  
            {{ Constants.adjustment_abs }}; y el que tenga un reclamo mayor recibirá una penalidad de 
            {{ Constants.adjustment_abs }}.
        </li>
    </ul>
</div>
</div>
